# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\coding-144-master\coding-144\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
